nav {
  height: 150px;
}

@media (max-width:500px){nav{max-height: 50px}};

div.nav-top {
  height: 15%;
  background: linear-gradient(#DADBDD, #646464);
  border-bottom: 1px solid black;
}

div.nav-middle {
  height: 60%;
}

div.nav-bottom {
  height: 35%;
  background-color: #31383C;
}

.foot-icon {
  height: 50%;
  margin: 0 10px;
  vertical-align: bottom;
}

.nav-tile-icon {
  font-size: 70px;
  margin: 0 10px;
}
@media (max-width:500px){.nav-tile-icon{font-size: 34px}};


a {
  text-decoration: none !important;
  // color: black;
  h1.nav-trace {
    display: inline;
    font-weight: bolder;
    }
}

.nav-logout-button {
  text-align: right;
  float: right;
  margin: 5px 10px 0 0;
  font-size: 15px;
}
