nav {
  height: 150px;
}

@media (max-width:500px){nav{max-height: 50px}};

div.nav-top {
  height: 15%;
  background: linear-gradient(#DADBDD, #646464);
}

div.nav-middle {
  height: 65%;
}

div.nav-bottom {
  height: 30%;
  background-color: #31383C;
}

.foot-icon {
  height: 100%;
  margin: 0 20px;
  vertical-align: top;
}

.nav-tile-icon {
  font-size: 100px;
}
@media (max-width:500px){.nav-tile-icon{font-size: 34px}};


.nav-trace {
  display: inline;
}

.nav-logout-button {
  text-align: right;
  float: right;
  margin: 5px 10px 0 0;
}
