nav {
  height: 150px;
}

div.nav-top {
  height: 15%;
  background: linear-gradient(#DADBDD, #646464);
}

div.nav-middle {
  height: 65%;
}

div.nav-bottom {
  height: 30%;
  background-color: #31383C;
}
