img.runs-show-shape-img {
  width: auto;
  height: 500px;
  margin-left: auto;
	margin-right: auto;
}

div.run-show-comments-box{

}

div.run-show-info-box{
  min-height: 200px;
  // background-color: green;
}

div.runs-show-left {
  margin-top: 25px;
  background-color: #FAFAFA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
