.show-main-image {
}

.shape-show-top-container {
  // background-color: #FAFAFA;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1.show-shape-name-label {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: -20px;
  font-size: 55px;
}

.shape-show-tiles {
  background-color: #FAFAFA;
  margin: 10px 0;
  padding: 20px 5px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shapes-show-google {
  margin: 10px 0 0 0;
}

div.shape-show-background {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi-30-ldn/wdi-project-4/NWFC_Racer.jpg");
  height: 450px;
  background-position: -90px -615px;
  margin: 0 0 20px 0;
  width: 100%
}

.view-info-button {
  margin: 0 0 10px 0;
}
