.user-index-background {
  background-image: url("https://s3-eu-west-1.amazonaws.com/wdi-30-ldn/wdi-project-4/runner-field.jpg");
  height: 450px;
  background-position: -92px -443px;
  margin: 0 0 20px 0;
}
