div.show-user-profile {
  background-color: green;
}

div.show-user-info {
  background-color: yellow;
}

div.show-user-runs {
  background-color: blue;
}

img.show-user-avatar {
  width: 100%;
  height: auto;
  // max-width: 100%;
  margin: auto;
}
