@import "login";
@import "shapesIndex";
@import "shapesShow";


//INDEX PAGE

.run-index-img-tile{
  height: 200px;
  // z-index: 10;
}

.run-index-shape-of-week{
  width: 400px;
}

.google-map {
  height: 300px;
}


//LOGIN
