@import "login";
@import "shapesIndex";
@import "shapesShow";
@import "runsShow";
@import "shapesSubmit";
@import "navBar";
@import "usersShow";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}
//INDEX PAGE

.run-index-img-tile{
  height: 200px;
  // z-index: 10;
}

.run-index-shape-of-week{
  width: 400px;
}

.google-map {
  height: 300px;
}


//LOGIN

//GENERAL
button:disabled,
button[disabled]{
  display: none;
}

.main-button {
  background: #C5C8CE;
  border: 1px solid lighten(#C5C8CE, 10%);
  width: 120px;
  height: 50px;
  font-size: 23px;
  margin: 0 0 10px 0;

  &:hover {
    background: darken(#C5C8CE, 10%);
  }
}

@media (max-width:500px){.main-button
  {
    height: 30px;
    width: 60px;
    font-size: 14px;
  }};
